// Chart/Settings Styles

#m-chart {
	.inside {
		padding: 0;

		.m-chart-container {
			padding: 7px 10px 10px;
		}

		.settings {
			background-color: $wp-admin-dark-background-color;
			border-top: 1px solid $wp-admin-border-color;
			padding: 0 10px 10px;

			.row {
				@include clearfix;
				border-top: none;
				padding: 0;

				p {
					margin-bottom: 0;
				}

				&.one {
					p {
						float: left;
						margin-left: 1%;
						width: 19%;

						&:first-child {
							margin-left: 0;
						}
					}
				}

				&.two,
				&.four {
					p {
						float: left;
						width: 73%;

						&.units {
							float: right;
							width: 25%;
						}
					}
				}

				&.three {
					p {
						margin: 0;
					}
				}

				&.five {
					p {
						float: right;
						width: 49%;

						&:first-child {
							float: left;
						}
					}
				}
			}
		}

		.row {
			@include clearfix;
			border-top: 1px solid $wp-admin-border-color;
			padding: 0 10px 10px;

			&.six {
				p {
					float: right;
					margin-bottom: 0;
					width: 49%;

					&:first-child {
						float: left;
					}

					&.image {
						position: relative;

						em {
							display: block;
							margin-top: 5px;
						}

						.button {
							height: 23px;
							line-height: 20px;
							position: absolute;
							right: 1px;
							top: 23px;
						}
					}
				}
			}
		}
	}
}