// Chart/Settings Styles

@use 'global-mixins-and-variables' as *;

#m-chart {
	.inside {
		padding: 0;

		.m-chart-container {
			padding: rem-calc( 7 10 10 );
		}

		.settings {
			background-color: $wp-admin-dark-background-color;
			border-top: 1px solid $wp-admin-border-color;
			padding: rem-calc( 10 0 10 10 );

			.row {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				gap: rem-calc( 10 );
				width: 100%;
				border-top: none;
				padding: 0;
				margin-bottom: rem-calc( 10 );

				&:last-of-type {
					margin-bottom: 0;
				}

				.column {
					display: flex;
					flex-direction: column;
					flex-basis: 100%;
					flex: 1;
					margin-bottom: 0;
					justify-content: center;

					> div {
						width: fit-content;
					}

					&:last-of-type {
						gap: 0;
					}
				}

				&.two {
					.column {
						&.shared {
							display: none;
						}
					}

					&.show-shared {
						.column {
							width: 24%;

							&.shared {
								display: flex;
							}
						}
					}
				}

				&.three,
				&.five {
					.column {
						flex: 0 0 calc(75% - rem-calc(10));

						> div {
							width: auto;
						}

						&.units {
							flex: 0 0 calc(25% - rem-calc(10));

							> div {
								width: fit-content;
							}
						}
					}
				}

				&.y-min {
					align-items: center;

					input[type="number"] {
						margin-left: rem-calc( 7 );
						height: rem-calc( 32 );
					}
				}

				&.six {
					.column {
						&:first-child {
							float: left;
						}
					}
				}
			}
		}

		.row {
			@include clearfix;
			border-top: 1px solid $wp-admin-border-color;
			padding: rem-calc( 0 10 10 );

			&.seven {
				.column {
					> div {
						width: auto;
					}

					&:first-child {
						float: left;
					}

					.components-base-control__field {
						margin-bottom: 0;
					}

					&.shortcode {
						position: relative;

						.m-chart-input-action-button {
							@include action-button;
						}

						@media (max-width: 782px) {
	
						}
					}

					&.image {
						position: relative;

						em {
							display: block;
							margin-top: rem-calc( 5 );
						}

						.m-chart-input-action-button {
							@include action-button;
						}

						@media (max-width: 782px) {
							.button,
							.components-button {
								bottom: 0;
								line-height: rem-calc( 30 );
								min-height: rem-calc( 32 );
							}
						}
					}
				}
			}
		}
	}
}
