// Chart/Settings Styles

#m-chart {
	.inside {
		padding: 0;

		.m-chart-container {
			padding: rem-calc( 7 10 10 );
		}

		.settings {
			background-color: $wp-admin-dark-background-color;
			border-top: 1px solid $wp-admin-border-color;
			padding: rem-calc( 0 10 10 );

			.row {
				@include clearfix;
				border-top: none;
				padding: 0;

				p {
					margin-bottom: 0;
				}

				&.one {
					p {
						float: left;
						margin-left: 1%;
						width: 32%;

						&:first-child {
							margin-left: 0;
						}
					}
				}

				&.two {
					p {
						float: left;
						margin-left: 1%;
						width: 32%;

						&:first-child {
							margin-left: 0;
						}

						&.shared {
							display: none;
						}
					}

					&.show-shared {
						p {
							width: 24%;

							&.shared {
								display: block;
							}
						}
					}
				}

				&.three,
				&.five {
					p {
						float: left;
						width: 73%;

						&.units {
							float: right;
							width: 25%;
						}
					}
				}

				&.four {
					p {
						margin-top: rem-calc( 5 );

						label {
							display: inline-block;
							height: rem-calc( 23 );
						}
					}
				}

				&.six {
					p {
						float: right;
						width: 49%;

						&:first-child {
							float: left;
						}
					}
				}
			}
		}

		.row {
			@include clearfix;
			border-top: 1px solid $wp-admin-border-color;
			padding: rem-calc( 0 10 10 );

			&.seven {
				p {
					float: right;
					margin-bottom: 0;
					width: 49%;

					&:first-child {
						float: left;
					}

					&.image {
						position: relative;

						em {
							display: block;
							margin-top: rem-calc( 5 );
						}

						.button {
							bottom: rem-calc( 3 );
							line-height: rem-calc( 22 );
							min-height: rem-calc( 24 );
							position: absolute;
							right: rem-calc( 2 );
						}

						@media (max-width: 782px) {
							.button {
								bottom: 0;
								line-height: rem-calc( 30 );
								min-height: rem-calc( 32 );
							}
						}
					}
				}
			}
		}
	}
}
