// CSV Import/Export Styles

#m-chart-csv {
	.inside {
		@include clearfix;

		&:after {
			clear: both;
	    }

		.button {
			margin-top: 6px;

			&.select {
				margin-right: 10px;
			}

			&.import {
				float: left;
				margin-right: 10px;
			}
		}

		div {
			&.import {
				margin-right: 65px;
			}

			&.export {
				float: right;
			}
		}

		.warning,
		.error {
			color: $wp-admin-error-color;
		}

		.error,
		.in-progress {
			margin: 10px 0 0 5px;

			&:not( .hide ) {
				display: inline-block;
			}
		}

		a {
			&.dashicons {
				color: $wp-admin-icon-color;

				&:hover {
					color: $wp-admin-error-color;
				}
			}
		}
	}
}

#side-sortables {
	#m-chart-csv {
		.inside {
			padding: 0;

			.select,
			.import,
			.export {
				float: none;
				padding: 7px 12px 10px;
			}

			.import {
				padding-top: 0;
			}

			.export {
				border-top: 1px solid $wp-admin-border-color;
				float: none;
			}
		}
	}
}