// Global

@mixin clearfix {
	&::after {
		clear: both;
		content: '';
		display: table;
	}
}

$rem-base: 16px;

@function strip-unit( $num ) {
	@return $num / ( $num * 0 + 1 );
}

@function convert-to-rem( $value, $base-value: $rem-base ) {
	$value: strip-unit( $value ) / strip-unit( $base-value ) * 1rem;
	// Turn 0rem into 0
	@if ( $value == 0rem ) { $value: 0; } // scss-lint:disable ZeroUnit
	@return $value;
}

@function rem-calc( $values, $base-value: $rem-base ) {
	$max: length( $values );
	@if $max == 1 { @return convert-to-rem( nth( $values, 1 ), $base-value ); }
	$rem-values: ( );
	@for $i from 1 through $max {
		$rem-values: append( $rem-values, convert-to-rem( nth( $values, $i ), $base-value ) );
	}
	@return $rem-values;
}

$handsontable-cell-border-color: #cccccc;

$wp-admin-black: #000000;
$wp-admin-red: #c80011;
$wp-admin-border-color: #dddddd;
$wp-admin-meta-border-color: #cdd0d4;
$wp-admin-dark-background-color: #f5f5f5;
$wp-admin-icon-color: #b8b8b8;
$wp-admin-error-color: #b00000;
$wp-admin-description-color: #666666;
$wp-admin-inactive-text-color: #555555;
$wp-admin-active-tab-color: #f1f1f1;
$wp-admin-inactive-icon-color: #82878c;

$wp-admin-dark-mode-border-color: #24282d;
$wp-admin-dark-mode-meta-background-color: #33373c;
$wp-admin-dark-mode-meta-border-color: #1a1f24;
$wp-admin-dark-mode-field-background-color: #53616e;
$wp-admin-dark-mode-tab-text-color: #bdc8d3;

#m-chart,
#m-chart-spreadsheet,
#m-chart-csv {
	.inside {
		.hide {
			display: none;
		}
	}
}