// Global

@use 'sass:list';
@use 'sass:math';

@mixin clearfix {
	&::after {
		clear: both;
		content: '';
		display: table;
	}
}

@mixin action-button {
	height: rem-calc(32);
	background-color: white;
	position: absolute;
	right: rem-calc( 4 );
	top: rem-calc( 27 );

	&:hover {
		background-color: $wp-admin-outline-button-hover-blue;
	}
}

$rem-base: 16;

@function rem-calc( $values, $base-value: $rem-base ) {
	$rem-values: ();

	@each $value in $values {
		@if $value == 0 {
			$rem-values: list.append( $rem-values, 0 );
		} @else {
			$rem-values: list.append( $rem-values, math.div( $value, $base-value ) * 1rem );
		}
	}

	@if list.length( $rem-values ) == 1 {
		@return list.nth( $rem-values, 1 );
	}

	@return $rem-values;
}

// Yes, text-stroke exists but it's not well supported yet and at least in my experience renders strangely depending on the browser
// This deals with that issue by rendering a text-shadow that does what we actually want
@function text-stroke( $size: 2, $color: #fff, $correction: 0 ) {
    $size-rounded: math.round( $size );
    $size-rest:    $size-rounded - $size;
    
	$radius: $size - $correction;
	$stroke: ();

	@for $i from -$size-rounded through $size-rounded {
	    $i: $i + $size-rest;
	    
		@for $k from -$size-rounded through $size-rounded {
		    $k: $k + $size-rest;

			$x: $k;
			$y: $i;

			@if $k > 0 {
				$x: $k - 0.5;
			} @else if $k < 0 {
				$x: $k + 0.5;
			}

			@if $i > 0 {
				$y: $i - 0.5;
			} @else if $i < 0 {
				$y: $i + 0.5;
			}

			@if ( $x*$x + $y*$y <= $radius*$radius ) {
				$stroke: list.append( $stroke, $i*1px $k*1px 0 $color, comma );
			}
		}
	}

	@return $stroke;
}

@mixin text-stroke( $size: 2, $color: #fff, $correction: 0 ) {
	text-shadow: text-stroke( $size, $color, $correction );
}

$wp-admin-black: #000000;
$wp-admin-border-color: #dddddd;
$wp-admin-meta-border-color: #cdd0d4;
$wp-admin-dark-background-color: #f5f5f5;
$wp-admin-icon-color: #b8b8b8;
$wp-admin-description-color: #666666;
$wp-admin-inactive-text-color: #555555;
$wp-admin-inactive-icon-color: #82878c;

$wp-admin-dark-mode-border-color: #24282d;
$wp-admin-dark-mode-meta-background-color: #33373c;
$wp-admin-dark-mode-meta-border-color: #1a1f24;
$wp-admin-dark-mode-field-background-color: #53616e;
$wp-admin-dark-mode-tab-text-color: #bdc8d3;

$wp-admin-outline-button-hover-blue: #f8f9fe;
$wp-admin-alert-green: #4ab866;
$wp-admin-alert-yellow: #f0b849;
$wp-admin-alert-red: #cc1818;
$m-chart-disabled-button: #757575;