// Global

@mixin clearfix {
	&::after {
		clear: both;
		content: '';
		display: table;
	}
}

$handsontable-cell-border-color: #cccccc;

$wp-admin-black: #000000;
$wp-admin-red: #c80011;
$wp-admin-border-color: #dddddd;
$wp-admin-meta-border-color: #e5e5e5;
$wp-admin-dark-background-color: #f5f5f5;
$wp-admin-icon-color: #b8b8b8;
$wp-admin-error-color: #b00000;
$wp-admin-description-color: #666666;
$wp-admin-inactive-text-color: #555555;
$wp-admin-active-tab-color: #f1f1f1;
$wp-admin-inactive-icon-color: #82878c;

#m-chart,
#m-chart-spreadsheet,
#m-chart-csv {
	.inside {
		.hide {
			display: none;
		}
	}
}