// Misc Styles

#m-chart-subtitle {
	margin-left: 0;
}

.wp-list-table {
	#m-chart-type {
		width: rem-calc( 32 );
	}

	#m-chart-library {
		width: rem-calc( 45 );
	}
}

.column-m-chart-type {
	span.type { // scss-lint:disable QualifyingElement
		display: block;
		position: relative;
		text-indent: -999rem;
		width: 100%;

		&::after {
			background-position: left center;
			background-repeat: no-repeat;
			bottom: 0;
			content: '';
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}

		&.line {
			&::after {
				background-image: url( '../images/types/line.svg' );
				background-size: contain;
			}
		}

		&.spline {
			&::after {
				background-image: url( '../images/types/spline.svg' );
				background-size: contain;
			}
		}

		&.area {
			&::after {
				background-image: url( '../images/types/area.svg' );
				background-size: contain;
			}
		}

		&.column {
			&::after {
				background-image: url( '../images/types/column.svg' );
				background-size: contain;
			}
		}

		&.stacked-column {
			background-color: transparent;

			&::after {
				background-image: url( '../images/types/stacked-column.svg' );
				background-size: contain;
			}
		}

		&.bar {
			background-color: transparent;

			&::after {
				background-image: url( '../images/types/bar.svg' );
				background-size: contain;
			}
		}

		&.stacked-bar {
			background-color: transparent;

			&::after {
				background-image: url( '../images/types/stacked-bar.svg' );
				background-size: contain;
			}
		}

		&.pie {
			&::after {
				background-image: url( '../images/types/pie.svg' );
				background-size: contain;
			}
		}

		&.doughnut {
			&::after {
				background-image: url( '../images/types/doughnut.svg' );
				background-size: contain;
			}
		}

		&.scatter {
			&::after {
				background-image: url( '../images/types/scatter.svg' );
				background-size: contain;
			}
		}

		&.bubble {
			&::after {
				background-image: url( '../images/types/bubble.svg' );
				background-size: contain;
			}
		}

		&.radar {
			&::after {
				background-image: url( '../images/types/radar.svg' );
				background-size: contain;
			}
		}

		&.radar-area {
			&::after {
				background-image: url( '../images/types/radar-area.svg' );
				background-size: contain;
			}
		}

		&.polar {
			&::after {
				background-image: url( '../images/types/polar.svg' );
				background-size: contain;
			}
		}
	}
}

.column-m-chart-library {
	span.library { // scss-lint:disable QualifyingElement
		background-position: left center;
		background-repeat: no-repeat;
		display: block;
		filter: grayscale( 100% );
		text-indent: -999rem;
		width: 100%;

		&.chartjs {
			background-image: url( '../external/chartjs/chartjs-logo.svg' );
			background-size: contain;
		}
	}
}