// Spreadsheet Styles

#m-chart-spreadsheet {
	border-left: none;

	.postbox-header {
		border-bottom: none;

		h2 {
			&.hndle {
				border-bottom: none;
				border-left: 1px solid $wp-admin-meta-border-color;
			}
		}
	}

	h3 {
		border-bottom: none;
		border-left: 1px solid $wp-admin-meta-border-color;
	}

	.handlediv {
		height: 35px;
	}

	.inside {
		margin: 0;
		padding: 0;
	}

	.nav-tab-wrapper {
		border-bottom: none;
		border-left: 1px solid $wp-admin-meta-border-color;
		border-top: 1px solid $wp-admin-meta-border-color;
		overflow-x: scroll;
		overflow-y: hidden;
		padding-top: 7px;
		white-space: nowrap;
		margin-bottom: -4px;

		@media ( max-width:600px ) {

			margin-bottom: -5px;
		}
		
		&.hide {
			display: none;
		}

		.add-sheet {
			color: $wp-admin-inactive-icon-color;
			float: left;
			margin-top: 3px;
			margin-bottom: 0;
			margin-left: 7px;
			margin-right: 7px;
			text-decoration: none;

			&:hover {
				color: $wp-admin-black;
			}

			span {
				line-height: 38px;
			}

			@media ( max-width:782px ) {
				margin-top: 7px;
			}
		}

		.nav-tab {
			display: inline-block;
			float: none;
			position: relative;
			padding-left: 27px;
			height: 33px;
			max-height: 33px;
			overflow-y: hidden;
			margin-left: 0;
			margin-right: 7px;

			@media ( max-width:600px ) {
				margin-top: 0;
			}

			@media ( max-width:782px ) {
				height: 41px;
				max-height: 41px;
			}

			span.dashicons-dismiss {
				color: $wp-admin-inactive-text-color;
				position: absolute;
				left: 7px;
				top: 11px;

				&:hover {
					color: $wp-admin-red;
				}

				@media ( max-width:782px ) {
					top: 15px;
				}
			}

			span.tab-title {
				padding: 0 10px 0 9px;
				border: 1px solid transparent;
				display: inline-block;
				line-height: 27px;

				@media ( max-width:782px ) {
					font-size: 16px;
					line-height: 38px;
					padding: 0 12px 0 11px;
				}

				&.hide {
					display: none;
				}
			}

			input {
				min-width: 30px;
			}

			&.nav-tab-active {
				span.dashicons-dismiss {
					color: $wp-admin-black;

					&:hover {
						color: $wp-admin-red;
					}
				}

				input {
					&[disabled="disabled"] {
						color: $wp-admin-black;
						-webkit-text-fill-color: $wp-admin-black;
					}
				}
			}

			&:last-of-type {
				margin-right: 10px;
			}

			&.do-not-delete {
				span {
					display: none;
				}
			}
		}
	}

	#spreadsheets {
		.jtabs-content {
			border-left: 1px solid $wp-admin-meta-border-color;
			overflow: auto;
			max-height: 370px;

			.jss_content {
				margin: -1px 0 -5px -2px;
				padding: 0;

				table {
					margin-right: -1px;
				}
			}
		}
	}

	#m-chart-csv {
		@include clearfix;
		background-color: $wp-admin-dark-background-color;
		border-left: 1px solid $wp-admin-meta-border-color;
		border-top: 1px solid $wp-admin-border-color;
		padding: 15px 10px 10px;

		&::after {
			clear: both;
	    }

		.button {
			margin-top: 6px;

			&.select {
				margin-right: 10px;
			}
		}

		div {
			&.import {
				margin-right: 65px;
			}

			&.export {
				float: right;
			}
			
			&.confirmation {
				float: left;
				margin-right: 10px;
			
				select {
					margin-top: 6px;
					margin-bottom: 4px;
					
					// Stop export button and select input from colliding on small screens
					@media (max-width: 600px) {
						display: block;
					}
				}
			}
			
			&.file-info {
				clear: left;
				padding-top: 10px;
			}
		}

		.warning,
		.error {
			color: $wp-admin-error-color;
		}

		.error,
		.in-progress {
			margin: 10px 0 0 5px;

			&:not( .hide ) {
				display: inline-block;
			}
		}

		a {
			&.dashicons {
				color: $wp-admin-icon-color;

				&:hover {
					color: $wp-admin-error-color;
				}
			}
		}
	}
}