/* line 29, ../sass/_global-mixins-and-variables.scss */
#m-chart .inside .hide,
#m-chart-spreadsheet .inside .hide,
#m-chart-csv .inside .hide {
  display: none;
}

/* line 3, ../sass/_misc.scss */
#m-chart-subtitle {
  margin-left: 0;
}

/* line 3, ../sass/_spreadsheet.scss */
#m-chart-spreadsheet {
  border-left: none;
}
/* line 7, ../sass/_spreadsheet.scss */
#m-chart-spreadsheet h2.hndle {
  border-bottom: none;
  border-left: 1px solid #e5e5e5;
}
/* line 13, ../sass/_spreadsheet.scss */
#m-chart-spreadsheet h3 {
  border-bottom: none;
  border-left: 1px solid #e5e5e5;
}
/* line 18, ../sass/_spreadsheet.scss */
#m-chart-spreadsheet .handlediv {
  height: 35px;
}
/* line 22, ../sass/_spreadsheet.scss */
#m-chart-spreadsheet .inside {
  margin: 0;
  padding: 0;
}
/* line 27, ../sass/_spreadsheet.scss */
#m-chart-spreadsheet .nav-tab-wrapper {
  border-bottom: none;
  border-left: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-top: 7px;
  white-space: nowrap;
}
/* line 36, ../sass/_spreadsheet.scss */
#m-chart-spreadsheet .nav-tab-wrapper.hide {
  display: none;
}
/* line 40, ../sass/_spreadsheet.scss */
#m-chart-spreadsheet .nav-tab-wrapper .add-sheet {
  color: #82878c;
  float: left;
  margin-bottom: 0;
  margin-left: 7px;
  text-decoration: none;
}
/* line 47, ../sass/_spreadsheet.scss */
#m-chart-spreadsheet .nav-tab-wrapper .add-sheet:hover {
  color: #000000;
}
/* line 51, ../sass/_spreadsheet.scss */
#m-chart-spreadsheet .nav-tab-wrapper .add-sheet span {
  line-height: 38px;
}
@media (max-width: 782px) {
  /* line 51, ../sass/_spreadsheet.scss */
  #m-chart-spreadsheet .nav-tab-wrapper .add-sheet span {
    line-height: 46px;
  }
}
/* line 60, ../sass/_spreadsheet.scss */
#m-chart-spreadsheet .nav-tab-wrapper .nav-tab {
  display: inline-block;
  float: none;
}
/* line 64, ../sass/_spreadsheet.scss */
#m-chart-spreadsheet .nav-tab-wrapper .nav-tab span {
  color: #555555;
  margin-top: 3px;
}
@media (max-width: 782px) {
  /* line 64, ../sass/_spreadsheet.scss */
  #m-chart-spreadsheet .nav-tab-wrapper .nav-tab span {
    margin-top: 7px;
  }
}
/* line 72, ../sass/_spreadsheet.scss */
#m-chart-spreadsheet .nav-tab-wrapper .nav-tab span:hover {
  color: #c80011;
}
/* line 77, ../sass/_spreadsheet.scss */
#m-chart-spreadsheet .nav-tab-wrapper .nav-tab input {
  min-width: 30px;
}
/* line 80, ../sass/_spreadsheet.scss */
#m-chart-spreadsheet .nav-tab-wrapper .nav-tab input[disabled="disabled"] {
  background: transparent;
  border: 1px solid transparent;
  box-shadow: none;
  color: #555555;
  -webkit-text-fill-color: #555555;
}
/* line 90, ../sass/_spreadsheet.scss */
#m-chart-spreadsheet .nav-tab-wrapper .nav-tab.nav-tab-active span {
  color: #000000;
}
/* line 93, ../sass/_spreadsheet.scss */
#m-chart-spreadsheet .nav-tab-wrapper .nav-tab.nav-tab-active span:hover {
  color: #c80011;
}
/* line 99, ../sass/_spreadsheet.scss */
#m-chart-spreadsheet .nav-tab-wrapper .nav-tab.nav-tab-active input[disabled="disabled"] {
  color: #000000;
  -webkit-text-fill-color: #000000;
}
/* line 106, ../sass/_spreadsheet.scss */
#m-chart-spreadsheet .nav-tab-wrapper .nav-tab:last-of-type {
  margin-right: 10px;
}
/* line 111, ../sass/_spreadsheet.scss */
#m-chart-spreadsheet .nav-tab-wrapper .nav-tab.do-not-delete span {
  display: none;
}
/* line 118, ../sass/_spreadsheet.scss */
#m-chart-spreadsheet #m-chart-csv {
  background-color: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-top: 1px solid #dddddd;
  padding: 15px 10px 10px;
}
/* line 4, ../sass/_global-mixins-and-variables.scss */
#m-chart-spreadsheet #m-chart-csv::after {
  clear: both;
  content: '';
  display: table;
}
/* line 127, ../sass/_spreadsheet.scss */
#m-chart-spreadsheet #m-chart-csv::after {
  clear: both;
}
/* line 131, ../sass/_spreadsheet.scss */
#m-chart-spreadsheet #m-chart-csv .button {
  margin-top: 6px;
}
/* line 134, ../sass/_spreadsheet.scss */
#m-chart-spreadsheet #m-chart-csv .button.select {
  margin-right: 10px;
}
/* line 138, ../sass/_spreadsheet.scss */
#m-chart-spreadsheet #m-chart-csv .button.import {
  float: left;
  margin-right: 10px;
}
/* line 145, ../sass/_spreadsheet.scss */
#m-chart-spreadsheet #m-chart-csv div.import {
  margin-right: 65px;
}
/* line 149, ../sass/_spreadsheet.scss */
#m-chart-spreadsheet #m-chart-csv div.export {
  float: right;
}
/* line 154, ../sass/_spreadsheet.scss */
#m-chart-spreadsheet #m-chart-csv .warning,
#m-chart-spreadsheet #m-chart-csv .error {
  color: #b00000;
}
/* line 159, ../sass/_spreadsheet.scss */
#m-chart-spreadsheet #m-chart-csv .error,
#m-chart-spreadsheet #m-chart-csv .in-progress {
  margin: 10px 0 0 5px;
}
/* line 163, ../sass/_spreadsheet.scss */
#m-chart-spreadsheet #m-chart-csv .error:not(.hide),
#m-chart-spreadsheet #m-chart-csv .in-progress:not(.hide) {
  display: inline-block;
}
/* line 169, ../sass/_spreadsheet.scss */
#m-chart-spreadsheet #m-chart-csv a.dashicons {
  color: #b8b8b8;
}
/* line 172, ../sass/_spreadsheet.scss */
#m-chart-spreadsheet #m-chart-csv a.dashicons:hover {
  color: #b00000;
}

/* line 4, ../sass/_chart-settings.scss */
#m-chart .inside {
  padding: 0;
}
/* line 7, ../sass/_chart-settings.scss */
#m-chart .inside .m-chart-container {
  padding: 7px 10px 10px;
}
/* line 11, ../sass/_chart-settings.scss */
#m-chart .inside .settings {
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
  padding: 0 10px 10px;
}
/* line 16, ../sass/_chart-settings.scss */
#m-chart .inside .settings .row {
  border-top: none;
  padding: 0;
}
/* line 4, ../sass/_global-mixins-and-variables.scss */
#m-chart .inside .settings .row::after {
  clear: both;
  content: '';
  display: table;
}
/* line 21, ../sass/_chart-settings.scss */
#m-chart .inside .settings .row p {
  margin-bottom: 0;
}
/* line 26, ../sass/_chart-settings.scss */
#m-chart .inside .settings .row.one p {
  float: left;
  margin-left: 1%;
  width: 32%;
}
/* line 31, ../sass/_chart-settings.scss */
#m-chart .inside .settings .row.one p:first-child {
  margin-left: 0;
}
/* line 38, ../sass/_chart-settings.scss */
#m-chart .inside .settings .row.two p {
  float: left;
  margin-left: 1%;
  width: 32%;
}
/* line 43, ../sass/_chart-settings.scss */
#m-chart .inside .settings .row.two p:first-child {
  margin-left: 0;
}
/* line 47, ../sass/_chart-settings.scss */
#m-chart .inside .settings .row.two p.shared {
  display: none;
}
/* line 53, ../sass/_chart-settings.scss */
#m-chart .inside .settings .row.two.show-shared p {
  width: 24%;
}
/* line 56, ../sass/_chart-settings.scss */
#m-chart .inside .settings .row.two.show-shared p.shared {
  display: block;
}
/* line 65, ../sass/_chart-settings.scss */
#m-chart .inside .settings .row.three p, #m-chart .inside .settings .row.five p {
  float: left;
  width: 73%;
}
/* line 69, ../sass/_chart-settings.scss */
#m-chart .inside .settings .row.three p.units, #m-chart .inside .settings .row.five p.units {
  float: right;
  width: 25%;
}
/* line 77, ../sass/_chart-settings.scss */
#m-chart .inside .settings .row.four p {
  margin: 0;
}
/* line 80, ../sass/_chart-settings.scss */
#m-chart .inside .settings .row.four p label {
  display: inline-block;
  height: 23px;
}
/* line 88, ../sass/_chart-settings.scss */
#m-chart .inside .settings .row.six p {
  float: right;
  width: 49%;
}
/* line 92, ../sass/_chart-settings.scss */
#m-chart .inside .settings .row.six p:first-child {
  float: left;
}
/* line 100, ../sass/_chart-settings.scss */
#m-chart .inside .row {
  border-top: 1px solid #dddddd;
  padding: 0 10px 10px;
}
/* line 4, ../sass/_global-mixins-and-variables.scss */
#m-chart .inside .row::after {
  clear: both;
  content: '';
  display: table;
}
/* line 106, ../sass/_chart-settings.scss */
#m-chart .inside .row.seven p {
  float: right;
  margin-bottom: 0;
  width: 49%;
}
/* line 111, ../sass/_chart-settings.scss */
#m-chart .inside .row.seven p:first-child {
  float: left;
}
/* line 115, ../sass/_chart-settings.scss */
#m-chart .inside .row.seven p.image {
  position: relative;
}
/* line 118, ../sass/_chart-settings.scss */
#m-chart .inside .row.seven p.image em {
  display: block;
  margin-top: 5px;
}
/* line 123, ../sass/_chart-settings.scss */
#m-chart .inside .row.seven p.image .button {
  height: 20px;
  line-height: 18px;
  position: absolute;
  right: 1px;
  top: 23px;
}
@media screen and (max-width: 782px) {
  /* line 132, ../sass/_chart-settings.scss */
  #m-chart .inside .row.seven p.image .button {
    height: 27px;
    line-height: 14px;
  }
}

/* line 3, ../sass/_settings.scss */
#m-chart-settings-page span.description {
  color: #666666;
}
