#m-chart .inside .hide,
#m-chart-spreadsheet .inside .hide,
#m-chart-csv .inside .hide {
	display: none;
}

#m-chart-subtitle {
	margin-left: 0;
}

.wp-list-table #m-chart-type {
	width: 2rem;
}
.wp-list-table #m-chart-library {
	width: 2.8125rem;
}

.column-m-chart-type span.type {
	display: block;
	position: relative;
	text-indent: -999rem;
	width: 100%;
}
.column-m-chart-type span.type::after {
	background-position: left center;
	background-repeat: no-repeat;
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.column-m-chart-type span.type.line::after {
	background-image: url("../images/types/line.svg");
	background-size: contain;
}
.column-m-chart-type span.type.spline::after {
	background-image: url("../images/types/spline.svg");
	background-size: contain;
}
.column-m-chart-type span.type.area::after {
	background-image: url("../images/types/area.svg");
	background-size: contain;
}
.column-m-chart-type span.type.column::after {
	background-image: url("../images/types/column.svg");
	background-size: contain;
}
.column-m-chart-type span.type.stacked-column {
	background-color: transparent;
}
.column-m-chart-type span.type.stacked-column::after {
	background-image: url("../images/types/stacked-column.svg");
	background-size: contain;
}
.column-m-chart-type span.type.bar {
	background-color: transparent;
}
.column-m-chart-type span.type.bar::after {
	background-image: url("../images/types/bar.svg");
	background-size: contain;
}
.column-m-chart-type span.type.stacked-bar {
	background-color: transparent;
}
.column-m-chart-type span.type.stacked-bar::after {
	background-image: url("../images/types/stacked-bar.svg");
	background-size: contain;
}
.column-m-chart-type span.type.pie::after {
	background-image: url("../images/types/pie.svg");
	background-size: contain;
}
.column-m-chart-type span.type.doughnut::after {
	background-image: url("../images/types/doughnut.svg");
	background-size: contain;
}
.column-m-chart-type span.type.scatter::after {
	background-image: url("../images/types/scatter.svg");
	background-size: contain;
}
.column-m-chart-type span.type.bubble::after {
	background-image: url("../images/types/bubble.svg");
	background-size: contain;
}
.column-m-chart-type span.type.radar::after {
	background-image: url("../images/types/radar.svg");
	background-size: contain;
}
.column-m-chart-type span.type.radar-area::after {
	background-image: url("../images/types/radar-area.svg");
	background-size: contain;
}
.column-m-chart-type span.type.polar::after {
	background-image: url("../images/types/polar.svg");
	background-size: contain;
}

.column-m-chart-library span.library {
	background-position: left center;
	background-repeat: no-repeat;
	display: block;
	filter: grayscale(100%);
	text-indent: -999rem;
	width: 100%;
}
.column-m-chart-library span.library.chartjs {
	background-image: url("../external/chartjs/chartjs-logo.svg");
	background-size: contain;
}

#m-chart-spreadsheet {
	border-left: none;
}
#m-chart-spreadsheet .postbox-header {
	border-bottom: none;
}
#m-chart-spreadsheet .postbox-header h2.hndle {
	border-bottom: none;
	border-left: 1px solid #cdd0d4;
}
#m-chart-spreadsheet h3 {
	border-bottom: none;
	border-left: 1px solid #cdd0d4;
}
#m-chart-spreadsheet .handlediv {
	height: 35px;
}
#m-chart-spreadsheet .inside {
	margin: 0;
	padding: 0;
}
#m-chart-spreadsheet .nav-tab-wrapper {
	border-bottom: none;
	border-left: 1px solid #cdd0d4;
	border-top: 1px solid #cdd0d4;
	overflow-x: scroll;
	overflow-y: hidden;
	padding-top: 7px;
	white-space: nowrap;
}
#m-chart-spreadsheet .nav-tab-wrapper.hide {
	display: none;
}
#m-chart-spreadsheet .nav-tab-wrapper .add-sheet {
	color: #82878c;
	float: left;
	margin-bottom: 0;
	margin-left: 7px;
	text-decoration: none;
}
#m-chart-spreadsheet .nav-tab-wrapper .add-sheet:hover {
	color: #000000;
}
#m-chart-spreadsheet .nav-tab-wrapper .add-sheet span {
	line-height: 38px;
}
@media (max-width: 782px) {
	#m-chart-spreadsheet .nav-tab-wrapper .add-sheet span {
		line-height: 46px;
	}
}
#m-chart-spreadsheet .nav-tab-wrapper .nav-tab {
	display: inline-block;
	float: none;
}
#m-chart-spreadsheet .nav-tab-wrapper .nav-tab span {
	color: #555555;
	margin-top: 3px;
}
@media (max-width: 782px) {
	#m-chart-spreadsheet .nav-tab-wrapper .nav-tab span {
		margin-top: 7px;
	}
}
#m-chart-spreadsheet .nav-tab-wrapper .nav-tab span:hover {
	color: #c80011;
}
#m-chart-spreadsheet .nav-tab-wrapper .nav-tab input {
	min-width: 30px;
}
#m-chart-spreadsheet .nav-tab-wrapper .nav-tab input[disabled=disabled] {
	background: transparent;
	border: 1px solid transparent;
	box-shadow: none;
	color: #555555;
	-webkit-text-fill-color: #555555;
}
#m-chart-spreadsheet .nav-tab-wrapper .nav-tab.nav-tab-active span {
	color: #000000;
}
#m-chart-spreadsheet .nav-tab-wrapper .nav-tab.nav-tab-active span:hover {
	color: #c80011;
}
#m-chart-spreadsheet .nav-tab-wrapper .nav-tab.nav-tab-active input[disabled=disabled] {
	color: #000000;
	-webkit-text-fill-color: #000000;
}
#m-chart-spreadsheet .nav-tab-wrapper .nav-tab:last-of-type {
	margin-right: 10px;
}
#m-chart-spreadsheet .nav-tab-wrapper .nav-tab.do-not-delete span {
	display: none;
}
#m-chart-spreadsheet #m-chart-csv {
	background-color: #f5f5f5;
	border-left: 1px solid #cdd0d4;
	border-top: 1px solid #dddddd;
	padding: 15px 10px 10px;
}
#m-chart-spreadsheet #m-chart-csv::after {
	clear: both;
	content: "";
	display: table;
}
#m-chart-spreadsheet #m-chart-csv::after {
	clear: both;
}
#m-chart-spreadsheet #m-chart-csv .button {
	margin-top: 6px;
}
#m-chart-spreadsheet #m-chart-csv .button.select {
	margin-right: 10px;
}
#m-chart-spreadsheet #m-chart-csv div.import {
	margin-right: 65px;
}
#m-chart-spreadsheet #m-chart-csv div.export {
	float: right;
}
#m-chart-spreadsheet #m-chart-csv div.confirmation {
	float: left;
	margin-right: 10px;
}
#m-chart-spreadsheet #m-chart-csv div.confirmation select {
	margin-top: 6px;
	margin-bottom: 4px;
}
@media (max-width: 600px) {
	#m-chart-spreadsheet #m-chart-csv div.confirmation select {
		display: block;
	}
}
#m-chart-spreadsheet #m-chart-csv div.file-info {
	clear: left;
	padding-top: 10px;
}
#m-chart-spreadsheet #m-chart-csv .warning,
#m-chart-spreadsheet #m-chart-csv .error {
	color: #b00000;
}
#m-chart-spreadsheet #m-chart-csv .error,
#m-chart-spreadsheet #m-chart-csv .in-progress {
	margin: 10px 0 0 5px;
}
#m-chart-spreadsheet #m-chart-csv .error:not(.hide),
#m-chart-spreadsheet #m-chart-csv .in-progress:not(.hide) {
	display: inline-block;
}
#m-chart-spreadsheet #m-chart-csv a.dashicons {
	color: #b8b8b8;
}
#m-chart-spreadsheet #m-chart-csv a.dashicons:hover {
	color: #b00000;
}

#m-chart .inside {
	padding: 0;
}
#m-chart .inside .m-chart-container {
	padding: 7px 10px 10px;
}
#m-chart .inside .settings {
	background-color: #f5f5f5;
	border-top: 1px solid #dddddd;
	padding: 0 10px 10px;
}
#m-chart .inside .settings .row {
	border-top: none;
	padding: 0;
}
#m-chart .inside .settings .row::after {
	clear: both;
	content: "";
	display: table;
}
#m-chart .inside .settings .row p {
	margin-bottom: 0;
}
#m-chart .inside .settings .row.one p {
	float: left;
	margin-left: 1%;
	width: 32%;
}
#m-chart .inside .settings .row.one p:first-child {
	margin-left: 0;
}
#m-chart .inside .settings .row.two p {
	float: left;
	margin-left: 1%;
	width: 32%;
}
#m-chart .inside .settings .row.two p:first-child {
	margin-left: 0;
}
#m-chart .inside .settings .row.two p.shared {
	display: none;
}
#m-chart .inside .settings .row.two.show-shared p {
	width: 24%;
}
#m-chart .inside .settings .row.two.show-shared p.shared {
	display: block;
}
#m-chart .inside .settings .row.three p, #m-chart .inside .settings .row.five p {
	float: left;
	width: 73%;
}
#m-chart .inside .settings .row.three p.units, #m-chart .inside .settings .row.five p.units {
	float: right;
	width: 25%;
}
#m-chart .inside .settings .row.four p {
	margin-top: 5px;
}
#m-chart .inside .settings .row.four p label {
	display: inline-block;
	height: 23px;
}
#m-chart .inside .settings .row.six p {
	float: right;
	width: 49%;
}
#m-chart .inside .settings .row.six p:first-child {
	float: left;
}
#m-chart .inside .row {
	border-top: 1px solid #dddddd;
	padding: 0 10px 10px;
}
#m-chart .inside .row::after {
	clear: both;
	content: "";
	display: table;
}
#m-chart .inside .row.seven p {
	float: right;
	margin-bottom: 0;
	width: 49%;
}
#m-chart .inside .row.seven p:first-child {
	float: left;
}
#m-chart .inside .row.seven p.image {
	position: relative;
}
#m-chart .inside .row.seven p.image em {
	display: block;
	margin-top: 5px;
}
#m-chart .inside .row.seven p.image .button {
	bottom: 3px;
	line-height: 22px;
	min-height: 24px;
	position: absolute;
	right: 2px;
}
@media screen and (max-width: 782px) {
	#m-chart .inside .row.seven p.image .button {
		bottom: 0;
		line-height: 30px;
		min-height: 32px;
	}
}

#m-chart-settings-page span.description {
	color: #666666;
}

#m-chart-settings-error {
	padding-left: 10px;
	padding-right: 10px;
}

/*# sourceMappingURL=m-chart-admin.css.map */