#m-chart .inside .hide,
#m-chart-spreadsheet .inside .hide,
#m-chart-csv .inside .hide {
  display: none;
}

#m-chart-subtitle {
  margin-left: 0;
}

.wp-list-table #m-chart-type {
  width: 2rem;
}
.wp-list-table #m-chart-library {
  width: 2.8125rem;
}

.column-m-chart-type span.type {
  display: block;
  position: relative;
  text-indent: -999rem;
  width: 100%;
}
.column-m-chart-type span.type::after {
  background-position: left center;
  background-repeat: no-repeat;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.column-m-chart-type span.type.line::after {
  background-image: url("../images/types/line.svg");
  background-size: contain;
}
.column-m-chart-type span.type.spline::after {
  background-image: url("../images/types/spline.svg");
  background-size: contain;
}
.column-m-chart-type span.type.area::after {
  background-image: url("../images/types/area.svg");
  background-size: contain;
}
.column-m-chart-type span.type.column::after {
  background-image: url("../images/types/column.svg");
  background-size: contain;
}
.column-m-chart-type span.type.stacked-column {
  background-color: transparent;
}
.column-m-chart-type span.type.stacked-column::after {
  background-image: url("../images/types/stacked-column.svg");
  background-size: contain;
}
.column-m-chart-type span.type.bar {
  background-color: transparent;
}
.column-m-chart-type span.type.bar::after {
  background-image: url("../images/types/bar.svg");
  background-size: contain;
}
.column-m-chart-type span.type.stacked-bar {
  background-color: transparent;
}
.column-m-chart-type span.type.stacked-bar::after {
  background-image: url("../images/types/stacked-bar.svg");
  background-size: contain;
}
.column-m-chart-type span.type.pie::after {
  background-image: url("../images/types/pie.svg");
  background-size: contain;
}
.column-m-chart-type span.type.doughnut::after {
  background-image: url("../images/types/doughnut.svg");
  background-size: contain;
}
.column-m-chart-type span.type.scatter::after {
  background-image: url("../images/types/scatter.svg");
  background-size: contain;
}
.column-m-chart-type span.type.bubble::after {
  background-image: url("../images/types/bubble.svg");
  background-size: contain;
}
.column-m-chart-type span.type.radar::after {
  background-image: url("../images/types/radar.svg");
  background-size: contain;
}
.column-m-chart-type span.type.radar-area::after {
  background-image: url("../images/types/radar-area.svg");
  background-size: contain;
}
.column-m-chart-type span.type.polar::after {
  background-image: url("../images/types/polar.svg");
  background-size: contain;
}

.column-m-chart-library span.library {
  background-position: left center;
  background-repeat: no-repeat;
  display: block;
  filter: grayscale(100%);
  text-indent: -999rem;
  width: 100%;
}
.column-m-chart-library span.library.chartjs {
  background-image: url("../external/chartjs/chartjs-logo.svg");
  background-size: contain;
}

#m-chart-spreadsheet {
  border-left: none;
}
#m-chart-spreadsheet.closed {
  border-bottom: 0.0625rem solid #cdd0d4;
}
#m-chart-spreadsheet .postbox-header {
  border-bottom: none;
}
#m-chart-spreadsheet .postbox-header h2.hndle {
  border-bottom: none;
  border-left: 0.0625rem solid #cdd0d4;
}
#m-chart-spreadsheet h3 {
  border-bottom: none;
  border-left: 0.0625rem solid #cdd0d4;
}
#m-chart-spreadsheet .handlediv {
  height: 2.1875rem;
}
#m-chart-spreadsheet .inside {
  margin: 0;
  padding: 0;
}
#m-chart-spreadsheet .m-chart-sheet-tabs {
  border-bottom: none;
  border-left: 0.0625rem solid #cdd0d4;
  border-top: 0.0625rem solid #cdd0d4;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
#m-chart-spreadsheet .m-chart-sheet-tabs.m-chart-hide {
  display: none;
}
#m-chart-spreadsheet .m-chart-sheet-tabs .m-chart-add-sheet {
  color: #000000;
  align-self: center;
}
#m-chart-spreadsheet .m-chart-sheet-tabs .m-chart-add-sheet:hover {
  color: var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));
}
#m-chart-spreadsheet .m-chart-sheet-tabs .m-chart-add-sheet:disabled {
  color: #757575;
}
#m-chart-spreadsheet .m-chart-sheet-tabs .m-chart-sheet-tab {
  display: flex;
  align-items: center;
}
#m-chart-spreadsheet .m-chart-sheet-tabs .m-chart-sheet-tab .m-chart-sheet-tab-delete {
  color: #000000;
}
#m-chart-spreadsheet .m-chart-sheet-tabs .m-chart-sheet-tab .m-chart-sheet-tab-delete:hover {
  color: #cc1818;
}
#m-chart-spreadsheet .m-chart-sheet-tabs .m-chart-sheet-tab .m-chart-sheet-tab-delete:disabled {
  color: #757575;
}
#m-chart-spreadsheet .m-chart-sheet-tabs .m-chart-sheet-tab .m-chart-sheet-tab-title {
  padding: 0 0.8125rem 0 0.75rem;
  border: 1px solid transparent;
  display: inline-block;
}
#m-chart-spreadsheet .m-chart-sheet-tabs .m-chart-sheet-tab input {
  min-width: 1.875rem;
  height: 2rem;
}
#m-chart-spreadsheet .m-chart-sheet-tabs .m-chart-sheet-tab:hover {
  color: var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));
}
#m-chart-spreadsheet .m-chart-sheet-tabs .m-chart-sheet-tab::after {
  background: var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));
  bottom: 0;
  content: "";
  height: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  transition: height 0.1s linear;
}
#m-chart-spreadsheet .m-chart-sheet-tabs .m-chart-sheet-tab.is-active::after {
  height: var(--wp-admin-border-width-focus, 2px);
}
#m-chart-spreadsheet .m-chart-sheet-tabs .m-chart-sheet-tab.is-active .m-chart-sheet-tab-delete {
  color: #000000;
}
#m-chart-spreadsheet .m-chart-sheet-tabs .m-chart-sheet-tab.is-active .m-chart-sheet-tab-delete:hover {
  color: #cc1818;
}
#m-chart-spreadsheet .m-chart-sheet-tabs .m-chart-sheet-tab.is-active input[disabled=disabled] {
  color: #000000;
  -webkit-text-fill-color: #000000;
}
#m-chart-spreadsheet #spreadsheets .jtabs-content {
  border-left: 1px solid #cdd0d4;
  overflow: auto;
  max-height: 23.125rem;
}
#m-chart-spreadsheet #spreadsheets .jtabs-content .jss_content {
  margin: -0.0625rem 0 -0.3125rem -0.125rem;
  padding: 0;
}
#m-chart-spreadsheet #spreadsheets .jtabs-content .jss_content table {
  margin-right: -0.0625rem;
}
#m-chart-spreadsheet #m-chart-csv::after {
  clear: both;
  content: "";
  display: table;
}
#m-chart-spreadsheet #m-chart-csv {
  background-color: #f5f5f5;
  border-left: 0.0625rem solid #cdd0d4;
  border-top: 0.0625rem solid #dddddd;
  padding: 0.9375rem 0.625rem 0.625rem;
}
#m-chart-spreadsheet #m-chart-csv::after {
  clear: both;
}
#m-chart-spreadsheet #m-chart-csv .button {
  margin-top: 0.375rem;
}
#m-chart-spreadsheet #m-chart-csv .button.select {
  margin-right: 0.625rem;
}
#m-chart-spreadsheet #m-chart-csv div.import {
  margin-right: 4.0625rem;
}
#m-chart-spreadsheet #m-chart-csv div.export {
  float: right;
}
#m-chart-spreadsheet #m-chart-csv div.confirmation {
  float: left;
  margin-right: 0.625rem;
}
#m-chart-spreadsheet #m-chart-csv div.confirmation select,
#m-chart-spreadsheet #m-chart-csv div.confirmation .components-select-control__input {
  margin-top: 0.375rem;
  margin-bottom: 0.25rem;
  margin-left: 0.4375rem;
}
@media (max-width: 600px) {
  #m-chart-spreadsheet #m-chart-csv div.confirmation select,
  #m-chart-spreadsheet #m-chart-csv div.confirmation .components-select-control__input {
    display: block;
  }
}
#m-chart-spreadsheet #m-chart-csv div.file-info {
  clear: left;
  padding-top: 0.625rem;
}
#m-chart-spreadsheet #m-chart-csv .warning,
#m-chart-spreadsheet #m-chart-csv .error {
  color: #cc1818;
}
#m-chart-spreadsheet #m-chart-csv .error,
#m-chart-spreadsheet #m-chart-csv .in-progress {
  margin: 0.625rem 0 0 0.3125rem;
}
#m-chart-spreadsheet #m-chart-csv .error:not(.hide),
#m-chart-spreadsheet #m-chart-csv .in-progress:not(.hide) {
  display: inline-block;
}
#m-chart-spreadsheet #m-chart-csv .m-chart-csv-cancel {
  color: #b8b8b8;
}
#m-chart-spreadsheet #m-chart-csv .m-chart-csv-cancel:hover {
  color: #cc1818;
}

.m-chart-modal .components-modal__content {
  margin-top: 3.75rem;
}
.m-chart-modal .components-modal__content .components-modal__header {
  height: 3.75rem;
  padding-bottom: 0;
}
.m-chart-modal .components-modal__content .buttons {
  display: flex;
  gap: 0.625rem;
  justify-content: flex-end;
  margin-top: 1rem;
}

#m-chart .inside {
  padding: 0;
  margin-top: 0;
}
#m-chart .inside .m-chart-container {
  padding: 0.4375rem 0.625rem 0.625rem;
}
#m-chart .inside .settings {
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
  padding: 0.625rem 0 0.625rem 0.625rem;
}
#m-chart .inside .settings .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.625rem;
  width: 100%;
  border-top: none;
  padding: 0;
  margin-bottom: 0.625rem;
}
#m-chart .inside .settings .row:last-of-type {
  margin-bottom: 0;
}
#m-chart .inside .settings .row .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin-bottom: 0;
  justify-content: center;
}
#m-chart .inside .settings .row .column > div {
  width: fit-content;
}
#m-chart .inside .settings .row .column:last-of-type {
  gap: 0;
}
#m-chart .inside .settings .row.two .column.shared {
  display: none;
}
#m-chart .inside .settings .row.two.show-shared .column {
  width: 24%;
}
#m-chart .inside .settings .row.two.show-shared .column.shared {
  display: flex;
}
#m-chart .inside .settings .row.three .column, #m-chart .inside .settings .row.five .column {
  flex: 0 0 calc(75% - 0.625rem);
}
#m-chart .inside .settings .row.three .column > div, #m-chart .inside .settings .row.five .column > div {
  width: auto;
}
#m-chart .inside .settings .row.three .column.units, #m-chart .inside .settings .row.five .column.units {
  flex: 0 0 calc(25% - 0.625rem);
}
#m-chart .inside .settings .row.three .column.units > div, #m-chart .inside .settings .row.five .column.units > div {
  width: fit-content;
}
#m-chart .inside .settings .row.y-min {
  align-items: center;
}
#m-chart .inside .settings .row.y-min input[type=number] {
  margin-left: 0.4375rem;
  height: 2rem;
}
#m-chart .inside .settings .row.six .column:first-child {
  float: left;
}
#m-chart .inside .row::after {
  clear: both;
  content: "";
  display: table;
}
#m-chart .inside .row {
  border-top: 1px solid #dddddd;
  padding: 0 0.625rem 0.625rem;
}
#m-chart .inside .row.seven .column > div {
  width: auto;
}
#m-chart .inside .row.seven .column:first-child {
  float: left;
}
#m-chart .inside .row.seven .column .components-base-control__field {
  margin-bottom: 0;
}
#m-chart .inside .row.seven .column.shortcode {
  position: relative;
}
#m-chart .inside .row.seven .column.shortcode .m-chart-input-action-button {
  height: 2rem;
  background-color: white;
  position: absolute;
  right: 0.25rem;
  top: 1.6875rem;
}
#m-chart .inside .row.seven .column.shortcode .m-chart-input-action-button:hover {
  background-color: #f8f9fe;
}
#m-chart .inside .row.seven .column.image {
  position: relative;
}
#m-chart .inside .row.seven .column.image em {
  display: block;
  margin-top: 0.3125rem;
}
#m-chart .inside .row.seven .column.image .m-chart-input-action-button {
  height: 2rem;
  background-color: white;
  position: absolute;
  right: 0.25rem;
  top: 1.6875rem;
}
#m-chart .inside .row.seven .column.image .m-chart-input-action-button:hover {
  background-color: #f8f9fe;
}
@media (max-width: 782px) {
  #m-chart .inside .row.seven .column.image .button,
  #m-chart .inside .row.seven .column.image .components-button {
    bottom: 0;
    line-height: 1.875rem;
    min-height: 2rem;
  }
}

#m-chart-settings-page span.description {
  color: #666666;
}

#m-chart-settings-error {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

/*# sourceMappingURL=m-chart-admin.css.map */
